<!DOCTYPE html>
<head>
	<title>宏烽酒店管理系统</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../../Style/logo.css">
</head>
<body>
	<div id="money" >
		<div id="login-title">
        	<div id="user_link">
            <a href="../money/money.html">返回</a>
            </div>
        	<a class="big-title" href="../login.html"  >
			<img src="../../Image/Logo.png" width="100" height="100">       
			宏 烽 酒 店 管 理 系 统 
            <span style="font-size:30px" >财务管理子系统</span>				<!不会把style转到CSS那里&间距有点怪>
            </a>
         </div>
         <div id="user_main" >		<!左块导航>
         <a class="u" href="user_center.html">基本资料</a><br>
         <a class="u" href="user_password.html">修改密码</a><br>
         <a class="u" href="user_email.html">站内消息</a><br>
         <a class="u" href="user_salary.html">历年工资</a>
         </div>
         <div id="user_block" >		<!右块内容>
         	<h1>历年工资</h1>
            <table width=100% >
            <tr>
            <td>年月</td><td>工龄工资</td><td>奖金</td><td>个人所得税</td><td>保险金</td><td>应发工资</td><td>实发工资</td>
            </tr>
            <tr>
            <td>2015-10</td><td>300元</td><td>200元</td><td>20元</td><td>50元</td><td>500元</td><td>430元</td>
            </tr>
            <tr>
            <td>2015-09</td><td>400元</td><td>300元</td><td>30元</td><td>50元</td><td>700元</td><td>520元</td>
            </tr>
            </table>
         </div>
    </div>
</body>