<!DOCTYPE html>
<head>
	<title>宏烽酒店管理系统</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../../Style/logo.css">
</head>
<body>
	<div id="money" >
		<div id="login-title">
        	<div id="user_link">
            <a href="../money/money.html">返回</a>
            </div>
        	<a class="big-title" href="../login.html"  >
			<img src="../../Image/Logo.png" width="100" height="100">       
			宏 烽 酒 店 管 理 系 统 
            <span style="font-size:30px" >财务管理子系统</span>				<!不会把style转到CSS那里&间距有点怪>
            </a>
         </div>
         <div id="user_main" >		<!左块导航>
         <a class="u" href="user_center.html">基本资料</a><br>
         <a class="u" href="user_password.html">修改密码</a><br>
         <a class="u" href="user_email.html">站内消息</a><br>
         <a class="u" href="user_salary.html">历年工资</a>
         </div>
         <div id="user_block" >		<!右块内容>
         <h1>基本资料</h1>
         <table border="0" color="white">
         	<tr>
         	<td>姓名：</td>
            <td>{员工名字}</td>
            </tr>
            <tr>
            <td>性别：</td>
            <td>男</td>
            </tr>
            <tr>
            <td>生日：</td>
            <td>1999-09-19</td>
            </tr>
            <tr>
            <td>入职时间：</td>
            <td>1999-12-19</td>
            </tr>
            <tr>
            <td>部门：</td>
            <td>财务部</td>
            </tr>
            <tr>
            <td>职务：</td>
            <td>经理</td>
            </tr>
            <tr>
            <td>工资卡卡号：</td>
            <td>62XXXX XXXX XXXX XXXXX</td>
            </tr>
         </table>
         </div>
     </div>
</body>