<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>仓库管理系统|warehouse manage system</title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
    <script src="../../js/hf_hotel.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body onLoad="food_load()">
    <!--导航条-->
    
    <!--导航条-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    	<div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../../huangzeqin/come_back.php">宏烽酒店管理系统</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">友情网站 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.baidu.com/">百度</a></li>
                <li><a href="http://www.bootcss.com/">bootstrap中文网</a></li>
                <li><a href="http://taobao.com/">淘宝网</a></li>
              </ul>
            </li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="../../huangzeqin/user/user_center.html" id="user_name5"></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../../huangzeqin/user/user_center.html">基本资料</a></li>
                <li><a href="../../huangzeqin/user/user_money.html">申请资金</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="../../huangzeqin/user/user_password.html">修改密码</a></li>
                <li><a href="../../huangzeqin/exit.php">退出登录</a></li>
              </ul>
            </li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    
    <div class="container">
    <div class="row">
    	<br><br><br><!--头图-->
        <img src="../../Image/warehouse_logo.jpg" class="img-rounded" height="120px" width="100%">
        <!--导航-->
        	<div class="col-lg-10">
			<br>
            <ul class="nav nav-pills">
              <li role="presentation" class="col-lg-3 text-center"><a href="warehouse_io.html">出入库记录</a></li>
              <li role="presentation" class="active col-lg-3  text-center"><a href="warehouse_item.html">仓库物品管理</a></li>
              <li role="presentation" class="col-lg-3  text-center"><a href="warehouse_supply.html">供应商管理</a></li>
            </ul>
			<br>
            </div>
         <div class="col-lg-4 img-thumbnail">
        	<h2>新增</h2>
          <form class="form-horizontal" method="post" >
            <div class="form-group">
   		   		<label for="inputEmail3" class="col-sm-4 control-label">名称</label>
      			<div class="col-sm-8">
        		<input type="text" name="num" class="form-control" id="ware_item_add_name1" placeholder="name">
      			</div>
    		</div>
            <div class="form-group">
   		   		<label for="inputEmail3" class="col-sm-4 control-label">单价</label>
      			<div class="col-sm-8">
        		<input type="text" name="num" class="form-control" id="ware_item_add_price1" placeholder="price">
      			</div>
    		</div>
            <div class="form-group">
   		   		<label for="inputEmail3" class="col-sm-4 control-label">规格</label>
      			<div class="col-sm-8">
        		<input type="text" name="num" class="form-control" id="ware_item_add_standard1" placeholder="">
      			</div>
    		</div>
            <div class="form-group">
   		   		<label for="inputEmail3" class="col-sm-4 control-label">单位</label>
      			<div class="col-sm-8">
        		<input type="text" name="num" class="form-control" id="ware_item_add_dw1" placeholder="g/kg/m?">
      			</div>
    		</div>
            <div class="form-group">
   		   		<label for="inputEmail3" class="col-sm-4 control-label">有效期</label>
      			<div class="col-sm-8">
        		<input type="date" name="num" class="form-control" id="ware_item_add_date1" placeholder="date">
      			</div>
    		</div>
            <div class="form-group">
   		   		<label for="inputEmail3" class="col-sm-4 control-label">最低数量</label>
      			<div class="col-sm-8">
        		<input type="number" name="num" class="form-control" id="ware_item_add_lnum1" placeholder="number">
      			</div>
    		</div>
            <div class="form-group">
   		   		<label for="inputEmail3" class="col-sm-4 control-label">位置</label>
      			<div class="col-sm-8">
        		<select class="form-control" id="ware_item_add_locate1">

                </select>
      			</div>
    		</div>
            <div class="form-group">
   		   		<label for="inputEmail3" class="col-sm-4 control-label">供应商</label>
      			<div class="col-sm-8">
        		<select class="form-control" id="ware_item_add_supply1">

                </select>
      			</div>
    		</div>
    		<div class="form-group">
      		<div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="button"  id="ware_item_add2" >确定新增</button>
      		</div>
    		</div>
  			</form>
         </div>
         <div class="col-lg-8 img-thumbnail">
         <h2>查询</h2>
         <form class="form-inline col-lg-10">
         	<div class="form-group">
              <label for="exampleInputEmail2">名称</label>
              <select class="form-control" name="type" id="ware_item_find_name3">
				<option value="0">全部</option>
                </select>
            </div>
			 <div class="form-group">
              <label for="exampleInputName2">&nbsp;&nbsp;位置</label>
              <select class="form-control" name="type" id="ware_item_find_locate8">
					<option value="0">全部</option>
                </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">&nbsp;&nbsp;有效期</label>
              <input type="date" class="form-control" id="ware_item_find_date3" placeholder="XXXX-XX-XX">
            </div>
            <div class="form-group">
              <select class="form-control" name="type" id="ware_item_find_ba3">
                  <option value="1">之前</option>
                  <option value="2">之后</option>
                </select>
            </div>
			</form>
            <button class="btn btn-primary" id="ware_item_find1">确定查询</button>
          <br>
          <div style="cursor:pointer; margin-top:20px;" >
          <table class="table table-bordered table-hover" id="ware_item_find_table">
            <tr >
            		<th>#</th>
                	<th>名称</th>
					<th>单价</th>
					<th>规格</th>
					<th>单位</th>
                    <th>有效期</th>
                    <th>最低数量</th>
					<th>数量</th>
                    <th>位置</th>
                    <th>供应商</th>
				</tr>
               
          </table>
          </div>
         </div>
     </div>
     </div>
     
<!--模态框1 -->
<div class="modal fade" id="ware_item_m1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">新增物品确认</h4>
			</div>
			<div class="modal-body" style="height:450px;">
            	<form class="form-horizontal" method="post" action="Items_Add.php">
				<div class="form-group">
                	<label for="inputEmail3" class="col-sm-4 control-label">名称</label>
                    <div class="col-sm-8">
                    <input type="text" name="name" class="form-control" id="ware_item_add_name2" readonly />
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">单价</label>
                    <div class="col-sm-8">
                    <input type="text" name="price" class="form-control" id="ware_item_add_price2" readonly />
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">规格</label>
                    <div class="col-sm-8">
                    <input type="text" name="standard" class="form-control" id="ware_item_add_standard2" readonly />
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">单位</label>
                    <div class="col-sm-8">
                    <input type="text" name="dw" class="form-control" id="ware_item_add_dw2" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">有效期</label>
                    <div class="col-sm-8">
                    <input type="text" name="date" class="form-control" id="ware_item_add_date2" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">最低数量</label>
                    <div class="col-sm-8">
                    <input type="text" name="lnum" class="form-control" id="ware_item_add_lnum2" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">位置</label>
                    <div class="col-sm-8">
                    <input type="text" name="locate" class="form-control" id="ware_item_add_locate2" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">供应商</label>
                    <div class="col-sm-8">
                    <input type="text" name="supply" class="form-control" id="ware_item_add_supply2" readonly />
                    </div>
                </div>
				<input id="ware_supply_add_add2" type = "submit" value = "提交" class="form-control btn btn-primary"  />
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--模态框2 -->
<div class="modal fade" id="ware_item_m2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">修改物品</h4>
			</div>
			<div class="modal-body" style="height:600px;">
            	<form class="form-horizontal" method="post" action="update_item.php">
                <div class="form-group">
                	<label for="inputEmail3" class="col-sm-4 control-label">#</label>
                    <div class="col-sm-8">
                    <input type="text" name="id" class="form-control" id="ware_item_find_id2" readonly />
                    </div>
                 </div>
				<div class="form-group">
                	<label for="inputEmail3" class="col-sm-4 control-label">名称</label>
                    <div class="col-sm-8">
                    <input type="text" name="name" class="form-control" id="ware_item_find_name2" readonly/>
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">单价</label>
                    <div class="col-sm-8">
                    <input type="text" name="price" class="form-control" id="ware_item_find_price2" />
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">规格</label>
                    <div class="col-sm-8">
                    <input type="text" name="standard" class="form-control" id="ware_item_find_standard2" />
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">单位</label>
                    <div class="col-sm-8">
                    <input type="text" name="dw" class="form-control" id="ware_item_find_dw2" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">有效期</label>
                    <div class="col-sm-8">
                    <input type="text" name="date" class="form-control" id="ware_item_find_date2" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">最低数量</label>
                    <div class="col-sm-8">
                    <input type="text" name="lnum" class="form-control" id="ware_item_find_lnum2" />
                    </div>
                </div>
				<div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">数量</label>
                    <div class="col-sm-8">
                    <input type="text" name="num" class="form-control" id="ware_item_find_num2" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">位置</label>
                    <div class="col-sm-8">
                    <input type="text" name="locate" class="form-control" id="ware_item_find_locate2" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">供应商</label>
                    <div class="col-sm-8">
                    <input type="text" name="supply" class="form-control" id="ware_item_find_supply2" readonly/>
                    </div>
                </div>
				<input id="ware_supply_add_add2" type = "submit" value = "保存修改" class="form-control  btn btn-primary"  />
                </form>
				<form class="form-horizontal" method="post" action="delete_item.php">
              <div class="form-group">
                  <div class="col-sm-8">
                  <input id="ware_item_find_id8" type="hidden" name = "detid" class="form-control " />
                  </div>
              </div>
			  	<input id="ware_item_find_add8" type = "submit" value = "删除本物品" class="form-control  btn btn-primary"  />
			</form>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>
